@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: #F1DEC6; 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    margin-left: 2rem;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    margin-left: 2rem;
}

#board{
    background: linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167));
    width: 90vmin;
    height: 92vmin;
    border: none;
    border-radius: 2rem;
    box-shadow: 3px 2px 1px violet;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    margin-left: 4rem;
    margain-right: 2rem;
    padding: 0.5rem;
}

.head{
    background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 8px;
}
#msg{
        text-align: center;
        color: #4158A6;
        font-size: 2rem;
        margin-top: 5px;
        padding: 2px;
        display: flex;
        position: fixed;
        opacity: 70%;

}
.main{
        height: 70px;
        width: 90px;
        display: flex;
        margin-left: 5rem;
        margin-bottom: 10rem;
}
@media (max-width: 600px) {
    #scoreBox, #hiscoreBox {
        font-size: 24px;
        right: 20px;
        margin-left: 2rem;
        margin-bottom: 1rem;
    }

    #scoreBox {
        top: 5px;
    }

    #hiscoreBox {
        top: 35px;
    }

    #board {
        width: 80vmin;
        height: 82vmin;
        margin-top: 3rem;
        margin-left: 4rem;
        padding-bottom: 0.5rem;
        padding-left: 2rem;
    }

    .head {
        border-radius: 8px;
    }

    .snake {
        border-radius: 8px;
    }

    .food {
        border-radius: 5px;
    }
    #msg{
        color: #FF8343;
        font-size: 1rem;
        margin-top: 5px;
        opacity: 50%;
    }
    .main{
        height: 50px;
        width: 72px;
        display: flex;
        margin-left: 15px;
        margin-bottom: 10rem;
        justify-content: center;
    }
}
